<div class="homepage-demo__main-container u-relative u-overflow-hide u-overflow-scroll-y u-min-width-breakpoint--md u-fill-height u-m-auto">

  <header class="u-relative u-fill-width u-height-20">
    <h1 class="u-fill-width g-theme-primary--500 u-align-center u-mt3">
      Ember Stagger Swagger
    </h1>
  </header>

  <main class="u-relative u-fill-width u-fill-height u-mt3">

    <section class="u-width-90 u-fill-height u-relative u-flow-middle">

      <div class="homepage-demo__demo-grid-area
                  u-fill-width
                  u-fill-height
                  o-flex-grid
                  o-flex-grid--full
                  u-mt4">

        {{!-- showItemsToggle main row --}}
        <div class="homepage-demo__demo-grid-row
                    o-grid-cell
                    o-flex-grid
                    o-flex-grid--auto
                    o-flex-grid--noWrap
                    u-fill-height
                    u-mb3">

          {{!-- item controls column --}}
          <div class="homepage-demo__item-controls
                      o-grid-cell
                      o-flex-grid
                      o-flex-grid--full
                      o-flex-grid--center
                      o-flex-grid--justifyCenter
                      u-overflow-hide
                      u-fill-height
                      u-mr3
                      u-relative">

            {{!-- show/hide toggle --}}
            <section class="o-grid-cell o-flex-grid u-height-spacing-4">

              <button class="c-button
                             c-button--hover-raise
                             g-bg-theme-primary--500
                             o-grid-cell
                             o-flex-grid
                             o-flex-grid--justifyCenter
                             o-flex-grid--center
                             u-fill-height"
                       disabled={{isAnimating}}
                       onclick={{action 'onShowItemsToggled'}}>

                  <span class="o-grid-cell">
                    {{#if showItems}}
                      Hide
                    {{else}}
                      Show
                    {{/if}}
                  </span>

              </button>


            </section>

            {{!-- Timing Sliders --}}
            <section class="o-grid-cell o-flex-grid">

              <div class="c-slider-widget o-grid-cell o-flex-grid o-flex-grid--full o-flex-grid--justifyCenter u-mt2">
                <label class="c-slider-widget__label g-clip g-font-smaller o-grid-cell u-mb2 u-align-center" for="stagger-interval-slider">Stagger Interval (ms)</label>
                {{x-slider
                  class="c-slider-widget__input
                         o-grid-cell
                         g-bg-red--100
                         g-height-spacing-3
                         u-mt1"
                  id="stagger-interval-slider"
                  min="32"
                  max="4000"
                  step="1"
                  value=(mut staggerInterval)
                }}
                <output class="c-slider-widget__output o-grid-cell u-align-center u-mt1" for="stagger-interval-slider">{{staggerInterval}}</output>
              </div>

              {{!-- Duration slider  --}}
              <div class="c-slider-widget o-grid-cell o-flex-grid o-flex-grid--full o-flex-grid--justifyCenter u-mt2">
                <label class="c-slider-widget__label g-clip g-font-smaller o-grid-cell u-mb2 u-align-center" for="animation-duration-slider">Animation Duration (ms)</label>
                {{x-slider
                  class="c-slider-widget__input o-grid-cell u-mt1"
                  id="animation-duration-slider"
                  min="100"
                  max="4000"
                  step="50"
                  value=(mut animationDuration)
                }}
                <output class="c-slider-widget__output o-grid-cell u-align-center u-mt1" for="animation-duration-slider">{{animationDuration}}</output>
              </div>

            </section>

            {{!-- Available Keyframes Selection --}}
            <section class="o-grid-cell o-flex-grid o-flex-grid--full o-flex-grid--center u-mb2 u-mt2">

              <h5 class="o-grid-cell u-align-center g-border-bottom-s1 u-mb2">Out-of-the-box Keyframes</h5>

              <div class="c-select-widget
                          o-grid-cell
                          o-flex-grid
                          o-flex-grid--noWrap
                          o-flex-grid--justifyCenter
                          o-flex-grid--center
                          u-mb2">

                <label class="c-select-widget__label
                              o-grid-cell
                              o-grid-cell--grow-none
                              u-mr2
                              g-font-smaller"
                       for="select-inAnimation">
                   <code>inEffect: </code>
                 </label>
                {{#x-select
                  class="c-select-widget__select-box o-grid-cell"
                  id="select-inAnimation"
                  value=currentSupportedInEffect
                 }}

                  {{#each supportedEffects as |animationName|}}
                    {{#x-option value=animationName}}{{animationName}}{{/x-option}}
                  {{/each}}

                {{/x-select}}

              </div>

              <div class="c-select-widget
                          o-grid-cell
                          o-flex-grid
                          o-flex-grid--noWrap
                          o-flex-grid--justifyCenter
                          o-flex-grid--center">

                <label class="c-select-widget__label
                              o-grid-cell
                              o-grid-cell--grow-none
                              u-mr2
                              g-font-smaller"
                        for="select-outAnimation">
                  <code>outEffect: </code>
                </label>
                {{#x-select
                  class="c-select-widget__select-box o-grid-cell"
                  id="select-outAnimation"
                  value=currentSupportedOutEffect
                }}

                  {{#each supportedEffects as |animationName|}}
                    {{#x-option value=animationName}}{{animationName}}{{/x-option}}
                  {{/each}}

                {{/x-select}}

              </div>
            </section>

          </div>

          {{!-- Stagger list column --}}
          {{#stagger-set
            class="homepage-demo__stagger-set-container
                   u-ml3
                   o-grid-cell
                   o-grid-cell--flex-one
                   u-fill-width
                   u-overflow-hide
                   u-overflow-scroll-y
                   "
            inDirection=currentInDirection
            outDirection=currentOutDirection
            inEffect=currentSupportedInEffect
            outEffect=currentSupportedOutEffect
            staggerInterval=staggerInterval
            duration=animationDuration
            enterOnRender=showItems
            showItems=showItems
            onAnimationStart=(action 'onStaggerListAnimationStart')
            onAnimationComplete=(action 'onStaggerListAnimationComplete')
          }}

            {{#each staggerListItems as |item index|}}
              {{space-craft-card
                class="g-box-shadow-2
                       g-nearWhite
                       u-overflow-hide
                       u-width-80
                       u-m-auto
                       u-mt2
                       u-mb2"
                item=item index=index
              }}
            {{/each}}

          {{/stagger-set}}


        </div>

        <div class="o-grid-cell o-flex-grid">

          {{!-- Direction selection TODO: Make these stagger lists 😀? --}}
          <div class="o-grid-cell
                      u-mb2
                      u-relative">

            <div class="o-flex-grid u-fill-width u-height-spacing-4 u-mt2 u-mb3">

              <div class="o-grid-cell u-relative u-width-20 u-fill-height o-grid-cell--auto">
                <h4 class="u-absolute u-align-center u-transform-center">In Direction</h4>
              </div>


              {{radio-bar
                class="homepage-demo__direction-radio-bar
                       o-grid-cell
                       o-grid-cell--grow-one
                       o-flex-grid--spaceBetween
                       u-fill-height
                       u-pl2
                       u-pr2
                       g-border-bottom-s1"
                groupValue=(mut currentInDirection)
                groupName="inDirection-toggle"
                options=staggerDirectionOptions
              }}
            </div>

            <div class="o-flex-grid u-fill-width u-height-spacing-4 u-mt3">

              <div class="o-grid-cell u-relative u-width-20 u-fill-height o-grid-cell--auto">
                <h4 class="u-absolute u-align-center u-transform-center">Out Direction</h4>
              </div>

              {{radio-bar
                class="homepage-demo__direction-radio-bar
                       o-grid-cell
                       o-grid-cell--grow-one
                       o-flex-grid--spaceBetween
                       u-fill-height
                       u-pl2
                       u-pr2
                       g-border-bottom-s1"
                groupValue=(mut currentOutDirection)
                groupName="outDirection-toggle"
                options=staggerDirectionOptions
              }}
            </div>

          </div>

        </div>

      </div>

    </section>


  </main>

</div>
