<div class="u-full-stretch u-full-bleed u-relative u-overflow-hide u-overflow-scroll-y">

  <header class="u-relative u-fill-width u-height-20">
    <h1 class="u-absolute u-transform-center u-fill-width g-gray--300 u-align-center">
      Ember Stagger Swagger
    </h1>
  </header>

  <main class="u-relative u-fill-width u-fill-height u-mt3">

    <section class="u-width-90 u-fill-height u-relative u-flow-middle">

      <div class="homepage-demo__demo-grid-area
                  o-flex-grid
                  o-flex-grid--full
                  u-mt4">

        {{!-- showItemsToggle main row --}}
        <div class="o-grid-cell o-flex-grid u-fill-height">

          {{!-- showItemsToggle column --}}
          <div class="homepage-demo__swagger-zone-toggle-menu
                      o-grid-cell
                      o-grid-cell--grow-none
                      o-flex-grid
                      o-flex-grid--full
                      o-flex-grid--center
                      o-flex-grid--spaceAround
                      u-width-20
                      u-fill-height
                      u-mr2
                      u-relative">

            {{!-- show/hide toggle --}}
            <section class="o-grid-cell o-flex-grid">

              <div class="o-grid-cell">

                <div class="c-radio-section o-flex-grid o-flex-grid--justifyCenter">
                  {{#radio-button class="o-grid-cell" groupValue=showItems value=true name="showItemsRadio"}}
                    Show
                  {{/radio-button}}
                </div>

                <div class="c-radio-section o-flex-grid o-flex-grid--justifyCenter">
                  {{#radio-button class="o-grid-cell" groupValue=showItems value=false name="showItemsRadio"}}
                    Hide
                  {{/radio-button}}
                </div>

              </div>

            </section>

            <div class="o-divider-1--horizontal g-bg-gray--500 u-width-40 u-mt2 u-mb2"></div>

            {{!-- Timing Sliders --}}
            <section class="o-grid-cell o-flex-grid">

              <div class="c-slider o-grid-cell">
                <label class="c-slider__label" for="stagger-interval-slider">Stagger Interval (ms)</label>
                {{x-slider
                  class="c-slider__slider"
                  id="stagger-interval-slider"
                  min="32"
                  max="4000"
                  step="1"
                  value=(mut staggerInterval)
                }}
                <output class="c-slider__output" for="stagger-interval-slider">{{staggerInterval}}</output>
              </div>

              {{!-- Duration slider  --}}
              <div class="c-slider o-grid-cell">
                <label class="c-slider__label" for="animation-duration-slider">Animation Duration (ms)</label>
                {{x-slider
                  class="c-slider__slider"
                  id="animation-duration-slider"
                  min="200"
                  max="6000"
                  step="10"
                  value=(mut animationDuration)
                }}
                <output class="c-slider__output" for="animation-duration-slider">{{animationDuration}}</output>
              </div>

            </section>

            <div class="o-divider-1--horizontal g-bg-gray--500 u-width-40 u-mt2 u-mb2"></div>

            {{!-- Available Keyframes Selection --}}
            <section class="o-grid-cell o-flex-grid o-flex-grid--full u-mb2">

              <h5 class="o-grid-cell">Out-of-the-box Keyframes</h5>

              <div class="o-grid-cell">

                <label for="select-in-animation">In-Animation Name</label>
                {{#x-select id="select-in-animation" value=currentInAnimationName}}

                  {{#each supportedEffects as |animationName|}}
                    {{#x-option value=animationName}}{{animationName}}{{/x-option}}
                  {{/each}}

                {{/x-select}}

              </div>

              <div class="o-grid-cell">

                <label for="select-out-animation">Out-Animation Name</label>
                {{#x-select id="select-out-animation" value=currentOutAnimationName}}

                  {{#each supportedEffects as |animationName|}}
                    {{#x-option value=animationName}}{{animationName}}{{/x-option}}
                  {{/each}}

                {{/x-select}}

              </div>
            </section>

          </div>

          {{!-- Stagger list column --}}
          {{#stagger-list
            class="o-grid-cell
                   o-grid-cell--flex-one
                   u-fill-width
                   u-overflow-hide
                   u-overflow-scroll-y
                   u-relative
                   g-list-reset
                   g-bg-red--100"
            inDirection=currentInDirection
            outDirection=currentOutDirection
            inAnimationName=currentInAnimationName
            outAnimationName=currentOutAnimationName
            staggerInterval=staggerInterval
            duration=animationDuration
            showItems=showItems
          }}

            {{#each staggerListItems as |item index|}}
              {{space-craft-card
                class="g-box-shadow-2
                       g-nearWhite
                       u-overflow-hide
                       u-width-80
                       u-m-auto
                       u-mt2
                       u-mb2"
                item=item index=index
              }}
            {{/each}}

          {{/stagger-list}}


        </div>

        <div class="o-grid-cell o-flex-grid">

          {{!-- Direction selection TODO: Make these stagger lists 😀? --}}
          <div class="o-grid-cell
                      u-mb2
                      u-relative">

            <div class="o-flex-grid u-fill-width u-height-spacing-4 u-mt2">

              <div class="o-grid-cell u-relative u-width-20 u-fill-height o-grid-cell--auto">
                <h4 class="u-absolute u-align-center u-transform-center">In Direction</h4>
              </div>


              {{radio-bar
                class="o-grid-cell
                       o-grid-cell--grow-one
                       o-flex-grid--spaceBetween
                       u-fill-height
                       u-pl2
                       u-pr2
                       g-bg-yellow--300"
                groupValue=(mut currentInDirection)
                groupName="inDirection-toggle"
                options=staggerDirectionOptions
              }}
            </div>

            <div class="o-flex-grid u-fill-width u-height-spacing-4 u-mt2">

              <div class="o-grid-cell u-relative u-width-20 u-fill-height o-grid-cell--auto">
                <h4 class="u-absolute u-align-center u-transform-center">Out Direction</h4>
              </div>

              {{radio-bar
                class="o-grid-cell
                       o-grid-cell--grow-one
                       o-flex-grid--spaceBetween
                       u-fill-height
                       u-pl2
                       u-pr2
                       g-bg-yellow--300"
                groupValue=(mut currentOutDirection)
                groupName="outDirection-toggle"
                options=staggerDirectionOptions
              }}
            </div>

          </div>

        </div>

      </div>

    </section>


  </main>

</div>
